@import "./styles/design-system.css";

/* App Main Layout Structure */
html, body, #root {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;
}

/* Page transitions */
.page-transition-enter {
  opacity: 0;
  transform: translateY(15px);
}

.page-transition-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 400ms ease, transform 400ms ease;
}

.page-transition-exit {
  opacity: 1;
  transform: translateY(0);
}

.page-transition-exit-active {
  opacity: 0;
  transform: translateY(-15px);
  transition: opacity 400ms ease, transform 400ms ease;
}
